.wrapper {
	position: relative;
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.main-title h1 {
	text-align: center;
	margin: 1rem auto;
}

.carousel-container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

.carousel-slide {
	display: flex;
	width: 100%;
	margin: auto;
}

.slide-container {
	min-width: 80%;
	max-width: 80%;
	display: flex;
	flex-direction: column;
	margin: auto;
}

.carousel-container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

.carousel-slide {
	display: flex;
	margin: auto;
	width: 100%;
}

.person-img {
	margin: 1rem auto;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	padding: 0.4rem;
	box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
}

.slide-container:first-child {
	margin-left: 10%;
}

.slide-container {
	min-width: 80%;
	max-width: 80%;
	margin: auto;
}

.slide-container h3 {
	margin: auto;
	margin-bottom: 0.5rem;
}

.slide-container p,
h4 {
	margin: auto;
	text-align: center;
	width: 70%;
	margin-top: 0.5rem;
	padding: 0.5rem;
	line-height: 1.5;
}

#prevBtn,
#nextBtn {
	font-size: 2rem;
	opacity: 0.6;
	background: rgba(0, 0, 0, 0);
	border: none;
}

#prevBtn {
	position: absolute;
	top: 50%;
	left: 10%;
	left: 3%;
}

#nextBtn {
	position: absolute;
	top: 50%;
	right: 10%;
	right: 3%;
}

@media screen and (max-width: 767px) {
	.slide-container:first-child {
		margin-left: 0;
	}

	.slide-container {
		min-width: 100%;
		max-width: 100%;
	}

	.slide-container p,
	h4 {
		width: 90%;
	}

	.person-img {
		height: 150px;
		width: 150px;
	}
}
